{% extends "main.html" %}

{% block content %}
    <button onclick="window.location.href='{{ url_for('edit_entry_view') }}'">New Entry</button>
    <form method="post">
        {% for field in pass_code_form %}
            {{ field() }}
        {% endfor %}
    </form>
    <table>
        {% for cnt in start_list %}
            <tr>
{#                <td>Up Down Edit Del ?</td>#}
                <td>{{ cnt.number }}</td>
                <td>{{ cnt.time }}</td>
                <td>{{ cnt.contestant.category.name }}</td>
                <td>{{ cnt.contestant.name }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
