{% extends "main.html" %}

{% block content %}
    <span class="header">Dashboard</span><br>
    <a href="{{ url_for('edit_entry_view') }}">New Entry</a>
    {{ simple_form(pass_code_form) }}
    {{ simple_form(print_form) }}
    <form method="post">

    </form>
    <span class="header">Start List</span>
    <table>
        {% for cnt in start_list %}
            <tr>
{#                <td>Up Down Edit Del ?</td>#}
                <td>{{ cnt.number }}</td>
                <td>{{ cnt.time }}</td>
                <td>{{ cnt.contestant.category.name }}</td>
                <td>{{ cnt.contestant.name }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
