{% extends "main.html" %}

{% block content %}
    <table class="contact">
    {% for field_name in entry.contact._meta.sorted_field_names %}
        <tr>
            <th>{{ field_name }}</th>
            <td>{{ entry.contact[field_name] }}</td>
        </tr>
    {% endfor %}
    </table>
    <table class="list">
        <tr>
            <th>#</th>
            <th>Start Time</th>
            <th>Name</th>
            <th>Category</th>
        </tr>
    {% for cnt in entry.contestants %}
        <tr>
        {% if cnt.starts %}
            <td>{{ cnt.starts.get().number }}</td>
            <td>{{ cnt.starts.get().time }}</td>
        {% else %}
            <td>-</td>
            <td>-</td>
        {% endif %}
            <td>{{ cnt.name }}</td>
            <td>{{ cnt.category }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
