{% extends "main.html" %}

{% block content %}
    <span class="header">Edit Entry</span>
    <form method="POST">
        {{ form.contact() }}
        <div data-toggle="fieldset" id="contestant-fieldset">
            <table>
                <tr>
                {% for item in form.contestants[0] %}
                    <th>{{ item.label.text }}</th>
                {% endfor %}
                    <th>Remove</th>
                </tr>
            {% for contestant in form.contestants %}
                <tr data-toggle="fieldset-entry">
                {% for item in contestant.form %}
                    <td>{{ item }}</td>
                {% endfor %}
                <td><button type="button" data-toggle="fieldset-remove-row" id="contestant-{{loop.index0}}-remove">-</button></td>
                </tr>
            {% endfor %}
            </table>
            <button type="button" data-toggle="fieldset-add-row" data-target="#contestant-fieldset">Add Line</button>
        </div>
        {{ form.save }}
        {{ form.paste }}
        {% if form.errors %}
            <ul class="errors">
            {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                {% for error in field_errors %}
                    <li>{{ form[field_name].label }}: {{ error }}</li>
                {% endfor %}
            {% endfor %}
            </ul>
        {% endif %}
    </form>

    <a href="{{ url_for('dashboard_view') }}">Back</a>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='dynamic-form.js') }}"></script>
{% endblock %}
